.text-secondary {
    color: #99a0a5 !important;
}
.text-secondary:hover {
    color: #b9bec3 !important;
}
.navbarIcon:hover {
    color: #e2e2e2 !important;
}

.fa-js {
    color: rgb(255, 252, 105);
}
.fa-node-js {
    color: greenyellow;
}
.fa-css3-alt {
    color:#2965f1;
}
.fa-git-alt {
    color: #f34f29;
}

@media only screen and (max-width: 766px) {
    .navbar-item, .fa-moon, .fa-sun {
        margin-right: 1em;
        margin-top: auto;
        margin-bottom: auto;
    }

    #downloadCVButton {
        margin-right: 1em;
    }

    #navbar {
        display: flex !important;
        padding-bottom: 0px;
        padding-right: 2.5em;
        padding-left: 2.5em;
        height: 3.5em;
    }

    #navbarLinks {
        display: flex !important;
        margin-left:auto;
    }

    .navbarIcon {
        margin-top: auto;
        margin-bottom: auto;
    }

    #contentContainer {
        /* TOP RIGHT BOTTOM LEFT */
        padding: 5.5em 2.5em /*2.5em*/ 2.5em;
    }

    #fotoIrl {
        width: 230px;
        height: 230px;
    }

    #flexColumnPresentacion {
        margin-left: 3em;
    }

    .text-justify {
        text-align: justify !important;
    }

    #textoPresentacion{
        margin-top: 0.5em;
    }
    
    #skillsRow{
        margin-top: 3em;
        /* TOP RIGHT BOTTOM LEFT */
        padding: 1.5em 0em 1.5em 0em;
    }
}